recursive-include tests *.py
recursive-include packdb *.h *.hpp *.cpp
include duckdb_python.cpp
recursive-include src *.h *.hpp *.cpp
recursive-include packdb-stubs *.pyi
recursive-include packdb
include scripts/optional_requirements.py
include requirements-dev.txt
include pyproject.toml
include sources.list
include includes.list
graft duckdb_build
